
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieApp.Models.Movie

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Form Edit</h1>

<header>
     <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Movie/CreateMovieForm" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/Movie/CreateMovieForm" class="nav-link px-2 text-white">Add Movies</a></li>  
          <li><a href="/Movie/index" class="nav-link px-2 text-white">Movie Detail</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Cinema</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a>
              
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
</header>

        
        <form asp-action="Edit" asp-controller="Movie" method="post">
             <div class="mx-5 my-5">
             <div class="mb-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieTittle" class="control-label"></label>
                <input asp-for="MovieTittle" class="form-control" />
                <span asp-validation-for="MovieTittle" class="text-danger"></span>
            </div>
             <div class="mb-2">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealeaseDate" class="control-label"></label>
                <input asp-for="RealeaseDate" class="form-control" />
                <span asp-validation-for="RealeaseDate" class="text-danger"></span>
            </div>
             <div class="mb-2">
                <label asp-for="Subtitle" class="control-label"></label>
              <select asp-for="Subtitle" asp-items="@Html.GetEnumSelectList<MovieApp.Models.SubTittle>()"
                    class="form-select">
                    <option>Choose MovieLanguage</option>

                </select>
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
             <div class="mb-2">
                <label asp-for="MovieLanguage" class="control-label"></label>
                <select asp-for="MovieLanguage" asp-items="@Html.GetEnumSelectList<MovieApp.Models.MovieLanguage>()"
                      class="form-select">
                       <option>Choose MovieLanguage</option>

                </select>
                <span asp-validation-for="MovieLanguage" class="text-danger"></span>
            </div>
             <div class="mb-2">
                <label asp-for="MovieType" class="control-label"></label>
                <select asp-for="MovieType" asp-items="@Html.GetEnumSelectList<MovieApp.Models.MovieType>()"
                    class="form-select">
                    <option>Choose MovieTye</option>
                </select>
                <span asp-validation-for="MovieType" class="text-danger"></span>
            </div>
              <div class="mb-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

              <div class="mb-2">
                <button type="submit"  class="btn btn-primary"> Save</button>
            </div>
        </form>
 

